/* تكليفات CSS الدروس من 74 إلى 77 */
* {
    box-sizing: border-box;
}
/* التكليف 01 */
.task-1 {
    width: 50px;
    height: 50px;
    margin: 60px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid #eb2155;
    border-left-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.task-1::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid #1d90cf;
    border-right-color: transparent;
}

.task-1::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 5px solid #fcb000;
    border-top-color: transparent;
}

.task-1:hover {
    animation-play-state: paused;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
/* ================= */
/*التكليف 02  */
.task-2 {
    width: 50px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid #1dadff;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.task-2::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    border: 5px solid #fca600;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.task-2::after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.task-2:hover,
.task-2:hover::before,
.task-2:hover::after {
    animation-play-state: running;
}
/* ==================== */
/* التكليف 03 */
.task-3 {
    display: block;
    width: 50px;
    height: 50px;
    margin: 50px auto;
    background-color: #EEE;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: task-3 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    -webkit-animation: task-3 1s;
}
@keyframes task-3 {
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    to{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
/* ========================  */
/* التكليف 04 */
.task-4 {
    color: #323234;
    font-size: 300px;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.task-4::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #eb9b04;
    position: absolute;
    top: 65px;
    right: 675px;
    animation: move 1s;
    -webkit-animation: move 1s;
    animation-iteration-count: infinite;
}
@keyframes move {
    to {
        right: 800px;
    }
}